.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  top: 5px !important;
  bottom: 5px !important;
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

//Bootstrap overrides etc.

.navbar-right {
  padding: 5px;
}

.card-not-picked-animation {
    opacity: .2;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.visibility-hidden {
	visibility: hidden;	
}

.margin-left {
	margin-left: 5px;
}

.top-buffer {
	margin-top: 10px;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.card-img {
  border: none;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
}

.card-img-small {
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

/* X Small Stuff */
@media all and (max-width: 767px) {
	.deck-card-column {
		margin-top: 190px;
	}

	.deck-card {
		margin-top: -190px;
	}
}

/* Small Stuff */
@media all and (min-width: 768px) {
	.deck-card-column {
		margin-top: 240px;
	}

	.deck-card {
		margin-top: -240px;
	}
}

/* Medium Stuff */
@media all and (min-width: 992px) {
	.deck-card-column {
		margin-top: 260px;
	}

	.deck-card {
		margin-top: -260px;
	}
}

/* Big stuff */
@media all and (min-width: 1200px) {
	.deck-card-column {
		margin-top: 350px;
	}

	.deck-card {
		margin-top: -350px;
	}
}
